* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #000000;
  padding: 10px 24px 8px;
}
.header .container .header__content .brand-logo .brand-logo-link .brand-logo-img {
  max-width: 116px;
}

.carousel .container .carousel__content {
  background: url("../../images/bg-bottom-red-wave.png") no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 500px;
}
.carousel .container .carousel__content .slick-dots {
  bottom: 88px;
}
.carousel .container .carousel__content .carousel__item .carousel__img {
  width: 70%;
  padding: 5px 0 133px 86px;
}
.carousel .container .carousel__content .carousel__item .carousel__img img {
  width: 100%;
}
.carousel .container .carousel__content .carousel__item .carousel__title {
  width: 30%;
}
.carousel .container .carousel__content .carousel__item .carousel__title h3 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}
.carousel .container .carousel__content .carousel__item .carousel__title h6 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}
.carousel .container .carousel__content .carousel__item .carousel__title button.carousel-title__btn {
  width: 150px;
  height: 50px;
  background-color: #F8B653;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}

.products {
  padding-bottom: 104px;
}
.products .container h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 90px;
  text-align: center;
}
.products .container .products-grids .prod-slide-grid {
  padding: 0 33.5px;
}
.products .container .products-grids .prod-slide-grid .product__content {
  background-color: #F8F8F8;
}
.products .container .products-grids .prod-slide-grid .product__content .product-img {
  padding: 45px 57px 0 57px;
}
.products .container .products-grids .prod-slide-grid .product__content .product-info {
  padding: 0 23px;
}
.products .container .products-grids .prod-slide-grid .product__content .product-info a {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}
.products .container .products-grids .prod-slide-grid .product__content .product-info p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: #CBC9C9;
}
.products .container .products-grids .prod-slide-grid .product__content .product-footer #btnBuyNow {
  width: 175px;
  height: 64px;
  background-color: #E1B067;
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.2;
  color: #000000;
}
.products .container .products-grids .prod-slide-grid .product__content .product-footer p {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  background-color: #DEDDDC;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-product {
  padding: 20px 0;
}
.footer-product .container .bg-top-footer {
  height: 115px;
  background: #fff;
}
.footer-product .container .bg-top-footer .top-footer {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.footer-product .container .bg-top-footer .top-footer .card-1 {
  width: 300px;
}
.footer-product .container .bg-top-footer .top-footer .card-1 .card-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-top-footer .top-footer .card-1 .list-group {
  list-style: none;
}
.footer-product .container .bg-top-footer .top-footer .card-1 .list-group .list-group-item a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-top-footer .top-footer .card-2 {
  width: 300px;
  padding-left: 40px;
  border-left: 1px solid #CBC9C9;
  border-right: 1px solid #CBC9C9;
}
.footer-product .container .bg-top-footer .top-footer .card-2 .card-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-top-footer .top-footer .card-2 .list-group {
  list-style: none;
}
.footer-product .container .bg-top-footer .top-footer .card-2 .list-group .list-group-item a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-top-footer .top-footer .card-3 {
  width: 400px;
  padding-left: 40px;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .card-header {
  font-size: 20px;
  font-weight: 600;
  line-height: #000000;
  color: #000000;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group {
  list-style: none;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group .list-group-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group .list-group-item a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group .list-group-item a:hover {
  color: #E1B067;
}
.footer-product .container .bg-bottom-footer {
  padding: 15px 0;
  height: 115px;
  background: #efeeee;
}
.footer-product .container .bg-bottom-footer .bottom-footer {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 {
  width: 300px;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .card-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group {
  list-style: none;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group .list-group-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group .list-group-item a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group .list-group-item a:hover {
  color: #E1B067;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 {
  width: 300px;
  padding-left: 40px;
  border-left: 1px solid #CBC9C9;
  border-right: 1px solid #CBC9C9;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .card-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group {
  list-style: none;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group .list-group-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group .list-group-item a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group .list-group-item a:hover {
  color: #E1B067;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 {
  width: 400px;
  padding-left: 40px;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .card-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group {
  list-style: none;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group .list-group-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group .list-group-item a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group .list-group-item a:hover {
  color: #E1B067;
}