* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  width: 1280px;
  height: 50px;
  margin: 0 auto;
  background: #000000;
}
header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .container .logo-header img {
  width: 116px;
  height: 32px;
  position: absolute;
  left: 24px;
  top: 10px;
  right: 0;
  bottom: 0;
}
header .container .detail-header {
  position: absolute;
  left: 1040px;
  top: 10px;
  right: 0;
  bottom: 0;
}
header .container .detail-header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header .container .detail-header ul #item1 a img {
  width: 31px;
  height: 31px;
}
header .container .detail-header ul #item2 {
  margin-right: 15px;
}
header .container .detail-header ul #item2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
header .container .detail-header ul #item3 {
  margin-right: 15px;
}
header .container .detail-header ul #item3 a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 0;
  color: #fff;
}
header .container .detail-header ul #item4 {
  margin-right: 15px;
}
header .container .detail-header ul #item4 a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 0;
  color: #fff;
}

.menu .container {
  background-color: #F5F5F5;
}
.menu .container .navbar .collapse .navbar-nav {
  height: 50px;
  display: flex;
  align-items: center;
  list-style: none;
}
.menu .container .navbar .collapse .navbar-nav .nav-item {
  margin-right: 15px;
  position: relative;
}
.menu .container .navbar .collapse .navbar-nav .nav-item .nav-link-active {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.menu .container .navbar .collapse .navbar-nav .nav-item .nav-link-active::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.menu .container .navbar .collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.menu .container .navbar .collapse .navbar-nav .nav-item .nav-link::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.menu .container .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #000000;
}
.menu .container .navbar .collapse .navbar-nav .nav-item .nav-link:hover::before {
  font-weight: 400;
  transform: scale(1, 1);
}

.product-detail .container {
  height: 530px;
}
.product-detail .container .content-product {
  width: 1145px;
  margin: 0 auto;
  padding-top: 65px;
  display: flex;
}
.product-detail .container .content-product .left-box {
  width: 45%;
  position: relative;
}
.product-detail .container .content-product .left-box .frame {
  width: 334px;
  height: 315px;
  background: #F8F8F8;
  position: absolute;
  left: 85px;
  top: 20px;
  right: 0;
  bottom: 0;
}
.product-detail .container .content-product .left-box .frame img {
  width: 230px;
  height: 156px;
  position: absolute;
  left: 45px;
  top: 80px;
  right: 0;
  bottom: 0;
}
.product-detail .container .content-product .right-box {
  width: 55%;
  position: relative;
}
.product-detail .container .content-product .right-box .product-name {
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}
.product-detail .container .content-product .right-box .description {
  max-width: 560px;
  position: absolute;
  left: 0;
  top: 65px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #140101;
}
.product-detail .container .content-product .right-box .status {
  max-width: 195px;
  position: absolute;
  left: 0;
  top: 150px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1ED90E;
}
.product-detail .container .content-product .right-box .size {
  max-width: 320px;
  position: absolute;
  left: 0;
  top: 190px;
  right: 0;
  bottom: 0;
}
.product-detail .container .content-product .right-box .size .pro-size {
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1E1D1D;
}
.product-detail .container .content-product .right-box .price {
  max-width: 110px;
  position: absolute;
  left: 0;
  top: 245px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FC0303;
}
.product-detail .container .content-product .right-box .quantity {
  position: absolute;
  left: 0;
  top: 285px;
  right: 0;
  bottom: 0;
  display: flex;
}
.product-detail .container .content-product .right-box .quantity .up {
  border: none;
  outline: none;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFCFC;
}
.product-detail .container .content-product .right-box .quantity .number {
  border: none;
  outline: none;
  background: #F5F5F5;
  width: 50px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}
.product-detail .container .content-product .right-box .quantity .down {
  border: none;
  outline: none;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFCFC;
}
.product-detail .container .content-product .right-box .buy {
  position: absolute;
  left: 0;
  top: 345px;
  right: 0;
  bottom: 0;
}
.product-detail .container .content-product .right-box .buy .push {
  border: none;
  outline: none;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  width: 175px;
  height: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFF8F8;
}

.relate-product .container {
  position: relative;
  height: 1044px;
}
.relate-product .container .title-relate-product {
  position: absolute;
  left: 476px;
  top: 16px;
  right: 0;
  bottom: 0;
  width: 386px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000;
}
.relate-product .container .product-item-1 {
  background: #F8F8F8;
  position: absolute;
  left: 99px;
  top: 153px;
  right: 0;
  bottom: 0;
  width: 334px;
  height: 369px;
}
.relate-product .container .product-item-1 .card-img-top {
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 45px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-1 .card-body {
  width: 187px;
  height: 29px;
  position: absolute;
  left: 23px;
  top: 231px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-1 .card-body .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-1 .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: text-extralight;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.relate-product .container .product-item-1 .card-footer .btn-buy {
  border: none;
  outline: none;
  background: #E1B067;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-1 .card-footer .btn-price {
  border: none;
  outline: none;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 157px;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-2 {
  background: #F8F8F8;
  position: absolute;
  left: 505px;
  top: 153px;
  right: 0;
  bottom: 0;
  width: 334px;
  height: 369px;
}
.relate-product .container .product-item-2 .card-img-top {
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 45px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-2 .card-body {
  width: 187px;
  height: 29px;
  position: absolute;
  left: 23px;
  top: 231px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-2 .card-body .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-2 .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: text-extralight;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.relate-product .container .product-item-2 .card-footer .btn-buy {
  border: none;
  outline: none;
  background: #E1B067;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-2 .card-footer .btn-price {
  border: none;
  outline: none;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 157px;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-3 {
  background: #F8F8F8;
  position: absolute;
  left: 914px;
  top: 153px;
  right: 0;
  bottom: 0;
  width: 334px;
  height: 369px;
}
.relate-product .container .product-item-3 .card-img-top {
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 45px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-3 .card-body {
  width: 187px;
  height: 29px;
  position: absolute;
  left: 23px;
  top: 231px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-3 .card-body .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-3 .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: text-extralight;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.relate-product .container .product-item-3 .card-footer .btn-buy {
  border: none;
  outline: none;
  background: #E1B067;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-3 .card-footer .btn-price {
  border: none;
  outline: none;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 157px;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-4 {
  background: #F8F8F8;
  position: absolute;
  left: 99px;
  top: 569px;
  right: 0;
  bottom: 0;
  width: 334px;
  height: 369px;
}
.relate-product .container .product-item-4 .card-img-top {
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 45px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-4 .card-body {
  width: 187px;
  height: 29px;
  position: absolute;
  left: 23px;
  top: 231px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-4 .card-body .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-4 .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: text-extralight;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.relate-product .container .product-item-4 .card-footer .btn-buy {
  border: none;
  outline: none;
  background: #E1B067;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-4 .card-footer .btn-price {
  border: none;
  outline: none;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 157px;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-5 {
  background: #F8F8F8;
  position: absolute;
  left: 505px;
  top: 569px;
  right: 0;
  bottom: 0;
  width: 334px;
  height: 369px;
}
.relate-product .container .product-item-5 .card-img-top {
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 45px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-5 .card-body {
  width: 187px;
  height: 29px;
  position: absolute;
  left: 23px;
  top: 231px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-5 .card-body .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-5 .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: text-extralight;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.relate-product .container .product-item-5 .card-footer .btn-buy {
  border: none;
  outline: none;
  background: #E1B067;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-5 .card-footer .btn-price {
  border: none;
  outline: none;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 157px;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-6 {
  background: #F8F8F8;
  position: absolute;
  left: 914px;
  top: 569px;
  right: 0;
  bottom: 0;
  width: 334px;
  height: 369px;
}
.relate-product .container .product-item-6 .card-img-top {
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 45px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-6 .card-body {
  width: 187px;
  height: 29px;
  position: absolute;
  left: 23px;
  top: 231px;
  right: 0;
  bottom: 0;
}
.relate-product .container .product-item-6 .card-body .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-6 .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: text-extralight;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.relate-product .container .product-item-6 .card-footer .btn-buy {
  border: none;
  outline: none;
  background: #E1B067;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.relate-product .container .product-item-6 .card-footer .btn-price {
  border: none;
  outline: none;
  width: 175px;
  height: 64px;
  position: absolute;
  left: 157px;
  top: 303px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.footer-product {
  padding: 20px 0;
}
.footer-product .container .bg-top-footer {
  height: 115px;
  background: #fff;
}
.footer-product .container .bg-top-footer .top-footer {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.footer-product .container .bg-top-footer .top-footer .card-1 {
  width: 300px;
}
.footer-product .container .bg-top-footer .top-footer .card-1 .card-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}
.footer-product .container .bg-top-footer .top-footer .card-1 .list-group {
  list-style: none;
}
.footer-product .container .bg-top-footer .top-footer .card-1 .list-group .list-group-item a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.footer-product .container .bg-top-footer .top-footer .card-2 {
  width: 300px;
  padding-left: 40px;
  border-left: 1px solid #CBC9C9;
  border-right: 1px solid #CBC9C9;
}
.footer-product .container .bg-top-footer .top-footer .card-2 .card-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}
.footer-product .container .bg-top-footer .top-footer .card-2 .list-group {
  list-style: none;
}
.footer-product .container .bg-top-footer .top-footer .card-2 .list-group .list-group-item a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.footer-product .container .bg-top-footer .top-footer .card-3 {
  width: 400px;
  padding-left: 40px;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .card-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group {
  list-style: none;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group .list-group-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group .list-group-item a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-top-footer .top-footer .card-3 .list-group .list-group-item a:hover {
  color: #E1B067;
}
.footer-product .container .bg-bottom-footer {
  padding: 15px 0;
  height: 115px;
  background: #efeeee;
}
.footer-product .container .bg-bottom-footer .bottom-footer {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 {
  width: 300px;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .card-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group {
  list-style: none;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group .list-group-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group .list-group-item a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-1 .list-group .list-group-item a:hover {
  color: #E1B067;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 {
  width: 300px;
  padding-left: 40px;
  border-left: 1px solid #CBC9C9;
  border-right: 1px solid #CBC9C9;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .card-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group {
  list-style: none;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group .list-group-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group .list-group-item a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-2 .list-group .list-group-item a:hover {
  color: #E1B067;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 {
  width: 400px;
  padding-left: 40px;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .card-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group {
  list-style: none;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group .list-group-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group .list-group-item a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  transition: all 0.3s linear;
}
.footer-product .container .bg-bottom-footer .bottom-footer .card-3 .list-group .list-group-item a:hover {
  color: #E1B067;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.register .container {
  position: relative;
  height: 538px;
}
.register .container .title-register {
  width: 156px;
  height: 48px;
  position: absolute;
  left: 524px;
  top: 30px;
  right: 0;
  bottom: 0;
}
.register .container .title-register h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000;
}
.register .container .infor-register {
  position: absolute;
  width: 1000px;
  height: 400px;
  position: absolute;
  left: 125px;
  top: 115px;
  right: 0;
  bottom: 0;
}
.register .container .infor-register .user-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.register .container .infor-register .user-detail .left-infor {
  width: 50%;
}
.register .container .infor-register .user-detail .left-infor .input-box {
  width: 482px;
  height: 51px;
  border-bottom: 3px solid #AE18E2;
  margin-bottom: 30px;
}
.register .container .infor-register .user-detail .left-infor .input-box input {
  width: 346px;
  height: 36px;
  width: 346px;
  height: 36px;
  margin: 5px 0;
  border: none;
  outline: none;
}
.register .container .infor-register .user-detail .left-infor .input-box input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.register .container .infor-register .user-detail .right-infor {
  width: 50%;
}
.register .container .infor-register .user-detail .right-infor .input-box {
  width: 482px;
  height: 51px;
  border-bottom: 3px solid #AE18E2;
  margin-bottom: 30px;
}
.register .container .infor-register .user-detail .right-infor .input-box input {
  width: 346px;
  height: 36px;
  width: 346px;
  height: 36px;
  margin: 5px 0;
  border: none;
  outline: none;
}
.register .container .infor-register .user-detail .right-infor .input-box input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.register .container .infor-register .user-detail .right-infor .gender-details {
  display: flex;
  align-items: center;
  position: relative;
}
.register .container .infor-register .user-detail .right-infor .gender-details .gender-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category {
  position: absolute;
  left: 170px;
  top: 12px;
  right: 0;
  bottom: 0;
  display: flex;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category .male {
  position: absolute;
  left: -40px;
  top: -12px;
  right: 0;
  bottom: 0;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category .male input {
  width: 65.42px;
  height: 50px;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category .male .gender {
  position: absolute;
  left: 70px;
  top: 5px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category .female {
  position: absolute;
  left: 140px;
  top: -12px;
  right: 0;
  bottom: 0;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category .female input {
  width: 65.42px;
  height: 50px;
}
.register .container .infor-register .user-detail .right-infor .gender-details .category .female .gender {
  position: absolute;
  left: 70px;
  top: 5px;
  right: 0;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}
.register .container .infor-register .user-detail .right-infor .submit {
  position: absolute;
  left: 495px;
  top: 255px;
  right: 0;
  bottom: 0;
}
.register .container .infor-register .user-detail .right-infor .submit .btn-submit {
  cursor: pointer;
  background: #AE18E2;
  border: none;
  outline: none;
  width: 291px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFCFC;
}