//Reset
@import "./../base/reset";
//Variable
@import "./../variable/variable";

header {
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    background: #000000;

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;

        .logo-header {
            img {
                width: 116px;
                height: 32px;
                @include position($position-2nd, 24px, 10px, $right-1st, $bottom-1st);
            }
        }

        .detail-header {
            @include position($position-2nd, 1040px, 10px, $right-1st, $bottom-1st);

            ul {
                list-style: none;
                display: flex;
                align-items: center;

                #item1 {
                    a {
                        img {
                            width: 31px;
                            height: 31px;
                        }
                    }
                }

                #item2 {
                    margin-right: 15px;

                    p {
                        @include text($fontsize-pr-detail-l, $text-extralight, $text-c1-light, $line-height-1st);
                    }
                }

                #item3 {
                    margin-right: 15px;

                    a {
                        text-decoration: none;
                        @include text($fontsize-header, $text-extralight, $text-c1-light, 0);
                    }
                }

                #item4 {
                    margin-right: 15px;

                    a {
                        text-decoration: none;
                        @include text($fontsize-header, $text-extralight, $text-c1-light, 0);
                    }
                }
            }
        }
    }
}

.menu {

    .container {
        background-color: $bg-c1-menu-primary;

        .navbar {
            .collapse {
                .navbar-nav {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    list-style: none;

                    .nav-item {
                        margin-right: 15px;
                        position: relative;

                        .nav-link-active {
                            text-decoration: none;
                            @include text($fontsize-menu, $text-regular, $text-c1-dark, $line-height-menu);

                            &::before {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: $bg-c1-header-primary;
                                position: absolute;
                                bottom: -10px;
                                left: 0;
                            }
                        }

                        .nav-link {
                            text-decoration: none;
                            @include text($fontsize-menu, $text-extralight, $text-c1-dark, $line-height-menu);

                            &::before {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: $bg-c1-header-primary;
                                position: absolute;
                                bottom: -10px;
                                left: 0;
                                transform: scale(0, 1);
                                transition: transform 0.3s;
                            }

                            &:hover {
                                color: $bg-c1-header-primary;
                                ;

                                &::before {
                                    font-weight: $text-regular;
                                    transform: scale(1, 1);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

.product-detail {
    .container {
        height: 530px;

        .content-product {
            width: 1145px;
            margin: 0 auto;
            padding-top: 65px;
            display: flex;

            .left-box {
                width: 45%;
                position: relative;

                .frame {
                    @include dimession(334px, 315px);
                    background: #F8F8F8;
                    @include position($position-2nd, 85px, 20px, 0, 0);

                    img {
                        width: 230px;
                        height: 156px;
                        @include position($position-2nd, 45px, 80px, 0, 0);
                    }
                }
            }

            .right-box {
                width: 55%;
                position: relative;

                .product-name {
                    @include position ($position-2nd, 0, 20px, 0, 0);
                    @include text($fontsize-pr-detail-l, $text-extralight, $text-c1-dark, $line-height-1st)
                }

                .description {
                    max-width: 560px;
                    @include position($position-2nd, 0, 65px, 0, 0);
                    @include text($fontsize-header, $text-regular, #140101, 19px)
                }

                .status {
                    max-width: 195px;
                    @include position($position-2nd, 0, 150px, 0, 0);
                    @include text($fontsize-pr-detail-m, 500, #1ED90E, 29px)
                }

                .size {
                    max-width: 320px;
                    @include position($position-2nd, 0, 190px, 0, 0);

                    .pro-size {
                        border: none;
                        outline: none;
                        margin-right: 10px;
                        cursor: pointer;
                        @include dimession(50px, 50px);
                        @include text($fontsize-pr-detail-m, $text-semibold, #1E1D1D, 29px);
                    }
                }

                .price {
                    max-width: 110px;
                    @include position($position-2nd, 0, 245px, 0, 0);
                    @include text($fontsize-pr-detail-l, $text-semibold, #FC0303, $line-height-1st)
                }

                .quantity {
                    @include position($position-2nd, 0, 285px, 0, 0);
                    display: flex;

                    .up {
                        border: none;
                        outline: none;
                        background: $bg-c1-menu-bt-small;
                        cursor: pointer;
                        @include dimession(50px, 50px);
                        @include text($fontsize-pr-detail-l, $text-regular, #FFFCFC, $line-height-1st)
                    }

                    .number {
                        border: none;
                        outline: none;
                        background: #F5F5F5;
                        @include dimession(50px, 50px);
                        @include text($fontsize-pr-detail-l, $text-regular, $text-c1-dark, $line-height-1st);
                    }

                    .down {
                        border: none;
                        outline: none;
                        background: $bg-c1-menu-bt-small;
                        cursor: pointer;
                        @include dimession(50px, 50px);
                        @include text($fontsize-pr-detail-l, $text-regular, #FFFCFC, $line-height-1st)
                    }
                }

                .buy {
                    @include position($position-2nd, 0, 345px, 0, 0);

                    .push {
                        border: none;
                        outline: none;
                        background: $bg-c1-menu-bt-large;
                        @include dimession(175px, 64px);
                        @include text($fontsize-pr-detail-m, 500, #FFF8F8, 29px);
                    }
                }
            }
        }

    }
}

.relate-product {
    .container {
        .title-relate-product {
            text-align: center;
            margin-bottom: 50px;
            @include text($fontsize-title-detail-pr, $text-regular, $text-c1-dark, $line-height-detail-pr);
        }
        .row-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .col-card {
                width: calc(100% / 3);
                padding-bottom: 50px;

                .card {
                    background: #F8F8F8;
                    margin: 10px 20px;

                    .header-card {
                        padding-top: 45px;
                        padding-left: 57px;
                        padding-right: 57px;
                        padding-bottom: 0;

                        img {
                            width: 220px;
                            height: 156px;
                        }
                    }

                    .card-body {
                        padding: 0 23px;

                        .card-title {
                            text-decoration: none;
                            @include text($fontsize-pr-detail-m, $text-extralight, $text-c1-dark, $line-height-name-detail-pr);
                        }

                        .card-text {
                            padding: 5px 0;
                            @include text($fontsize-menu, text-extralight, $text-c2-light, $line-height-menu);
                        }
                    }

                    .card-footer {
                        padding-top: 5px;
                        display: flex;
                        align-items: center;

                        .btn-buy {
                            border: none;
                            outline: none;
                            background: $bg-c1-relate-bt-medimum;
                            @include dimession($width-btn-card, $height-btn-card);
                            @include text($fontsize-pr-detail-m, $text-light, $text-c1-dark, $line-height-name-detail-pr);
                        }

                        .price-text {
                            background: #DEDDDC;
                            padding: 17px 75px;
                            @include dimession(196px, $height-btn-card);
                            @include text($fontsize-pr-detail-m, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                        }
                    }
                }
            }


        }
    }
}


.footer-product {
    padding: 20px 0;

    .container {
        .bg-top-footer {
            height: 115px;
            background: $bg-c1-top-footer;

            .top-footer {
                display: flex;
                width: 1000px;
                margin: 0 auto;

                .card-1 {
                    width: 300px;

                    .card-header {
                        @include text($fontsize-menu, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            a {
                                text-decoration: none;
                                @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-footer);
                            }
                        }
                    }
                }

                .card-2 {
                    width: 300px;
                    padding-left: 40px;
                    border-left: 1px solid $text-c2-light;
                    border-right: 1px solid $text-c2-light;

                    .card-header {
                        @include text($fontsize-menu, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            a {
                                text-decoration: none;
                                @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-footer);
                            }
                        }
                    }
                }

                .card-3 {
                    width: 400px;
                    padding-left: 40px;

                    .card-header {
                        @include text($fontsize-menu, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-footer);

                            a {
                                text-decoration: none;
                                @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-menu);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: $bg-c1-relate-bt-medimum;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg-bottom-footer {
            padding: 15px 0;
            height: 115px;
            background: #efeeee;

            .bottom-footer {
                display: flex;
                width: 1000px;
                margin: 0 auto;

                .card-1 {
                    width: 300px;

                    .card-header {
                        @include text($fontsize-menu, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-footer);

                            a {
                                text-decoration: none;
                                @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-menu);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: $bg-c1-relate-bt-medimum;
                                }
                            }
                        }
                    }
                }

                .card-2 {
                    width: 300px;
                    padding-left: 40px;
                    border-left: 1px solid $text-c2-light;
                    border-right: 1px solid $text-c2-light;

                    .card-header {
                        @include text($fontsize-menu, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-footer);

                            a {
                                text-decoration: none;
                                @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-menu);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: $bg-c1-relate-bt-medimum;
                                }
                            }
                        }
                    }
                }

                .card-3 {
                    width: 400px;
                    padding-left: 40px;

                    .card-header {
                        @include text($fontsize-menu, $text-semibold, $text-c1-dark, $line-height-name-detail-pr);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-footer);

                            a {
                                text-decoration: none;
                                @include text($fontsize-footer, $text-regular, $text-c1-dark, $line-height-menu);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: $bg-c1-relate-bt-medimum;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}