// Background-color
$bg-dark: #000000;

// Text-color

// font-size
$text-sz-2xl: 20px;
$text-sz-4xl: 40px;

// font-weight
$text-medium: 300;

// line-height
$line-height-1rem: 24.2px;
$line-height-3rem: 48.41px;
