.carousel {
    .container {
        .carousel__content {
            background: url('../../images/bg-bottom-red-wave.png') no-repeat;
            background-size: 100%;
            background-position: bottom;
            height: 500px;

            .slick-dots {
                bottom: 88px;
            }

            .carousel__item {

                .carousel__img {
                    width: 70%;
                    padding: 5px 0 133px 86px;

                    img {
                        width: 100%;
                    }
                }

                .carousel__title {
                    width: 30%;

                    h3 {
                        font-size: $text-sz-4xl;
                        line-height: $lh;
                        font-weight: $text-light;
                    }

                    h6 {
                        font-size: $text-sz-2xl;
                        line-height: $lh;
                        font-weight: $text-light;
                    }

                    button.carousel-title__btn {
                        width: 150px;
                        height: 50px;
                        background-color: $bg-btn-c2-yellow;
                        border: 1px solid transparent;
                        font-size: $text-sz-2xl;
                        line-height: $lh;
                        font-weight: $text-light;
                    }
                }
            }
        }
    }
}