.footer-product {
    padding: 20px 0;

    .container {
        .bg-top-footer {
            height: 115px;
            background: $bg-light;

            .top-footer {
                display: flex;
                width: 1000px;
                margin: 0 auto;

                .card-1 {
                    width: 300px;

                    .card-header {
                        @include textStyle ($text-sz-2xl, $text-semibold);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            a {
                                text-decoration: none;
                                @include textStyle(12px, $text-medium)
                            }
                        }
                    }
                }

                .card-2 {
                    width: 300px;
                    padding-left: 40px;
                    border-left: 1px solid #CBC9C9;
                    border-right: 1px solid #CBC9C9;

                    .card-header {
                        @include textStyle ($text-sz-2xl, $text-semibold);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            a {
                                text-decoration: none;
                                @include textStyle (12px, $text-medium);
                            }
                        }
                    }
                }

                .card-3 {
                    width: 400px;
                    padding-left: 40px;

                    .card-header {
                        @include textStyle ($text-sz-2xl, $text-semibold, $text-black);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include textStyle (12px, $text-medium);

                            a {
                                text-decoration: none;
                                @include textStyle (12px, $text-medium);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: #E1B067;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg-bottom-footer {
            padding: 15px 0;
            height: 115px;
            background: #efeeee;

            .bottom-footer {
                display: flex;
                width: 1000px;
                margin: 0 auto;

                .card-1 {
                    width: 300px;

                    .card-header {
                        @include textStyle ($text-sz-2xl, $text-semibold);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include textStyle (12px, $text-medium);

                            a {
                                text-decoration: none;
                                @include textStyle (12px, $text-medium);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: #E1B067;
                                }
                            }
                        }
                    }
                }

                .card-2 {
                    width: 300px;
                    padding-left: 40px;
                    border-left: 1px solid #CBC9C9;
                    border-right: 1px solid #CBC9C9;

                    .card-header {
                        @include textStyle ($text-sz-2xl, $text-semibold);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include textStyle (12px, $text-medium);

                            a {
                                text-decoration: none;
                                @include textStyle (12px, $text-medium);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: #E1B067;
                                }
                            }
                        }
                    }
                }

                .card-3 {
                    width: 400px;
                    padding-left: 40px;

                    .card-header {
                        @include textStyle ($text-sz-2xl, $text-semibold);
                    }

                    .list-group {
                        list-style: none;

                        .list-group-item {
                            @include textStyle (12px, $text-medium);

                            a {
                                text-decoration: none;
                                @include textStyle (12px, $text-medium);
                                transition: all 0.3s linear;

                                &:hover {
                                    color: #E1B067;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}