// Background-color
$bg-dark: #000000;
$bg-secondary: #F8F8F8;
$bg-btn-c1-yellow: #E1B067;
$bg-btn-c2-yellow: #F8B653;
$bg-light-gray: #DEDDDC;


// Text-color
$text-black: #000000;
$text-light-gray: #CBC9C9;

// font-size
$text-sz-2xl: 20px;

$text-sz-4xl: 40px;

// font-weight
$text-thin: 200;
$text-light: 300;
$text-medium: 400;
$text-semibold: 600;

// line-height
$lh: 1.2;
