// Background-color
$bg-dark: #000000;
$bg-light: #fff;
$bg-secondary: #F8F8F8;
$bg-btn-c1-yellow: #E1B067;
$bg-btn-c2-yellow: #F8B653;
$bg-c1-light-gray: #DEDDDC;
$bg-c2-light-gray: #fafafa;
$bg-c1-gray: #ececec;


// Text-color
$text-black: #000000;
$text-light-gray: #CBC9C9;
$text-c1-pink: #e25f5c;

// font-size
$text-sz-2xl: 20px;
$text-sz-4xl: 40px;

// font-weight
$text-thin: 200;
$text-light: 300;
$text-medium: 400;
$text-semibold: 600;
$text-bold: 700;

// line-height
$lh: 1.2;
